<body>
    <div class="">
        <p class="jersey text-[#F7DF1E] text-4xl">eduarda saibert</p>
        <p class="text-lg">full-stack software developer</p>
    </div>

    <.image_grid id="image-grid" images={@images} path="/images/tech/"/>
    
</body>