<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>edsaibert personal website</title>
</head>

<body>
<div class="pt-20 ps-10 pe-10 text-gray-100 league-spartan bg-blue-950 w-screen h-screen">
    <div class="grid grid-cols-5">
        <div class="col-span-1"></div> 
        <div class="col-span-3">
            <div class="grid grid-cols-5 gap-4">
                <p class="col-span-1">home</p> 
                <p class="col-span-1">projects</p> 
                <p class="col-span-1">contact</p> 
            </div> 
            <div class="mt-20">
                {@inner_content}
            </div>
        </div> 
        <div class="col-span-1"></div> 
    </div>
</div> 
</body>
</html>